@page "/addcomment"
@inject IPostService postService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<h1>
    Add Comment
</h1>
<div class="row">
    <div class="col-md-6">
        <form>
            <textarea class="control-label" rows="7" cols="65" placeholder="Write the Description here...." @bind=@tkaposts.Comment></textarea>
            <br />
            <br />
            <button type="button" class="btn btn-primary" @onclick="() => SendEmail()">Save Comment</button>
            <button type="button" class="btn btn-danger" @onclick="() => cancel()">Cancel</button>

        </form>
    </div>
</div>

@code {

    TKAComments tkaposts = new TKAComments();

    public static void SendEmail()
    { try
            {
                MailMessage message = new MailMessage();
                SmtpClient smtp = new SmtpClient();
                message.From = new MailAddress("geezyk695@gmail.com");
                message.To.Add(new MailAddress("kanswatayowanu@gmail.com"));
                message.Subject = "John Doe Commented on your post";
                message.IsBodyHtml = true; //to make message body as html  
                message.Body = "John Doe Commented on your pos";
                smtp.Port = 587;
                smtp.Host = "smtp.gmail.com"; //for gmail host  
                smtp.EnableSsl = true;
                smtp.UseDefaultCredentials = false;
                smtp.Credentials = new System.Net.NetworkCredential("geezyk695@gmail.com", "Cornelius@Gmail");
                smtp.DeliveryMethod = SmtpDeliveryMethod.Network;
                smtp.Send(message);
            }
            catch (Exception) { }
    }

    void cancel()
    {
        navigationManager.NavigateTo("/myposts");
    }
}