@page "/addcomment"
@inject IPostService postService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<h1>
    Add Comment
</h1>
<div class="row">
    <div class="col-md-6">
        <form>
            <textarea class="control-label" rows="7" cols="65" placeholder="Write the Description here...." @bind=@tkaposts.Comment></textarea>
            <br />
            <br />
            <button type="button" class="btn btn-primary" @onclick="() => CreateComment()">Save Comment</button>
            <button type="button" class="btn btn-danger" @onclick="() => cancel()">Cancel</button>

        </form>
    </div>
</div>

@code {

    TKAComments tkaposts = new TKAComments();

    protected async Task CreateComment()
    {
        //await postService.CreateComment(tkaposts);
        navigationManager.NavigateTo("/myposts");
    }

    void cancel()
    {
        navigationManager.NavigateTo("/myposts");
    }
}