@page "/"


<AuthorizeView>
    <NotAuthorized>
        <h1>This will contain how home page</h1>
    </NotAuthorized>
    <Authorized>
        <p>@context.User.Identity.Name</p>

    </Authorized>
</AuthorizeView>


@code{
}
