@page "/sermons"
<!-- ======= Blog Section ======= -->
<section id="blog" class="blog space50">
    <div class="container">

        <div class="row">

            <div class="col-lg-12 entries">

                <div class="row">

                    <div class="col-md-4 d-flex align-items-stretch">
                        <article class="entry">

                            <h2 class="entry-title">
                                <a href="/semondetails">Prophetic Word for 2017</a>
                            </h2>

                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="icofont-user"></i>John Doe</li>
                                    <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <time datetime="2021-01-01">Jan 1, 2021</time></li>
                                </ul>
                            </div>

                            <div class="entry-content">
                                <p>
                                    You may think 2016 was a difficult or strange year and wondering what lies ahead in 2017. We are going to get into 2017 but first God wants to explain what was going on for most of us in 2016 and for some of us it is still going on because what happened in 2016 was to make us ready for the new season starting in 2017.

                                </p>
                                <div class="read-more">
                                    <a href="/semondetails">Read More</a>
                                </div>
                            </div>

                        </article><!-- End blog entry -->
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch">
                        <article class="entry">

                            <h2 class="entry-title">
                                <a href="blog-single.html">The Seven Pillars Of Wisdom</a>
                            </h2>

                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="icofont-user"></i>John Doe</li>
                                    <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <time datetime="2021-01-01">Jan 1, 2021</time></li>
                                </ul>
                            </div>

                            <div class="entry-content">
                                <p>
                                    God's wisdom gives us instruction and understanding in all situations. The wisdom of God permeates the very nature, character and essence of God. His 7 pillars of wisdom establish and bear the very fruit and nature of God, which he imparts to us as we allow him to cloth our spiritual home (our bodies, souls, spirits, or very nature and character) in the spiritual clothing of God.
                                </p>
                                <div class="read-more">
                                    <a href="/semondetails">Read More</a>
                                </div>
                            </div>

                        </article><!-- End blog entry -->
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch">
                        <article class="entry">

                            <h2 class="entry-title">
                                <a href="/semondetails">Being led by the Spirit</a>
                            </h2>

                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="icofont-user"></i>John Doe</li>
                                    <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <time datetime="2021-01-01">Jan 1, 2021</time></li>
                                </ul>
                            </div>

                            <div class="entry-content">
                                <p>
                                    It is so important for our churches and gatherings to be led by the Spirit, but how can our churches be led by the Spirit if we don't allow our own lives to be led by the Spirit? Are led-to lead, rule, govern, directs, to lead along, carry, to bring, to lead forth.John 5:30   I can do nothing on My own initiative. As I hear, I judge, and My judgment is just, because I do not seek My own will, but the will of Him who sent Me.
                                </p>
                                <div class="read-more">
                                    <a href="/semondetails">Read More</a>
                                </div>
                            </div>

                        </article><!-- End blog entry -->
                    </div>
                    <!--End of row-->
                    <div class="col-md-4 d-flex align-items-stretch">
                        <article class="entry">

                            <h2 class="entry-title">
                                <a href="blog-single.html">Do we see the sacredness of our times with Jesus?</a>
                            </h2>

                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="icofont-user"></i> John Doe</li>
                                    <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <time datetime="2021-01-01">Jan 1, 2021</time></li>
                                </ul>
                            </div>

                            <div class="entry-content">
                                <p>
                                    So many times, we are so preoccupied with the workings of the ministry, the things around us that needs to be done that we do not stop to see the sacredness of the special times at church or at home with God. In this new season stop and hear Him beckoning you into those special places and times where He needs your undivided attention and heart.
                                </p>
                                <div class="read-more">
                                    <a href="/semondetails">Read More</a>
                                </div>
                            </div>

                        </article><!-- End blog entry -->
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch">
                        <article class="entry">

                            <h2 class="entry-title">
                                <a href="blog-single.html">Pentecost and the releasing of God's power.</a>
                            </h2>

                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="icofont-user"></i> John Doe</li>
                                    <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <time datetime="2021-01-01">Jan 1, 2021</time></li>
                                </ul>
                            </div>

                            <div class="entry-content">
                                <p>
                                    Last week God did an amazing move in this place and one of the pictures God showed someone was that of illumination and transformation. A huge rainbow coming down which represents all the promises of God, and in this case to His Church. It is really the promise He made to Himself regarding all of mankind.
                                </p>
                                <div class="read-more">
                                    <a href="/semondetails">Read More</a>
                                </div>
                            </div>

                        </article><!-- End blog entry -->
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch">
                        <article class="entry">

                            <h2 class="entry-title">
                                <a href="blog-single.html">We Learn Through Experience.</a>
                            </h2>

                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="icofont-user"></i> John Doe</li>
                                    <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <time datetime="2021-01-01">Jan 1, 2021</time></li>
                                </ul>
                            </div>

                            <div class="entry-content">
                                <p>
                                    One of the reasons testimonies are so powerful is because it is someone's experience. This is why people in the natural do work experience while in school, because even in the world it is recognized that we learn more from experience than from just pure information or knowledge.
                                </p>
                                <div class="read-more">
                                    <a href="/semondetails">Read More</a>
                                </div>
                            </div>

                        </article><!-- End blog entry -->
                    </div>
                    <div class="col-md-4 d-flex align-items-stretch">
                        <article class="entry">

                            <h2 class="entry-title">
                                <a href="blog-single.html">We Learn Through Experience.</a>
                            </h2>

                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="icofont-user"></i> John Doe</li>
                                    <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <time datetime="2021-01-01">Jan 1, 2021</time></li>
                                </ul>
                            </div>

                            <div class="entry-content">
                                <p>
                                    This sermon is very important in the new season that we are now in. Firstly, for those that have been journeying with Him many years you are now for the first time coming into the fullness of your identity in Jesus for the work that is ahead. Secondly, there are many new people embarking on their journey with Jesus for the first time, or are about to embark on a journey with Jesus as the Lord moves in this new season that need to know about the power of truth in their lives.
                                </p>
                                <div class="read-more">
                                    <a href="/semondetails">Read More</a>
                                </div>
                            </div>

                        </article><!-- End blog entry -->
                    </div>
                    <div class="col-md-4 d-flex align-items-stretch">
                        <article class="entry">
                            <h2 class="entry-title">
                                <a href="blog-single.html">The Work and Ministry of the Trinity.</a>
                            </h2>

                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="icofont-user"></i> John Doe</li>
                                    <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <time datetime="2021-01-01">Jan 1, 2021</time></li>
                                </ul>
                            </div>

                            <div class="entry-content">
                                <p>
                                    The basic understanding of this is critical for ministering in this new season. The understanding of the trinity is something that we will never fully grasp the entirety of it because it is so deep and of a level well beyond our understanding. However, the Lord in this new season will continue to grow us in revelation of the working and ministry of the trinity so we can learn how to walk in unison in our lives and churches with the Godhead so we can truly see the redeeming arid miracle power of God.
                                </p>
                                <div class="read-more">
                                    <a href="/semondetails">Read More</a>
                                </div>
                            </div>

                        </article><!-- End blog entry -->
                    </div>

                </div>

            </div><!-- End blog entries list -->


        </div>

    </div>
</section><!-- End Blog Section -->


@code {

}
