
@page "/semondetails"
<div class="contact-details">
    <h1>Sermon Details Component Coming soon</h1><br />
    <div class="read-more">
        <a href="/sermons">Go Back</a>
    </div>

</div>
@code {

}
