<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">The Gospel</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="services">
                <span aria-hidden="true"></span> Services
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="aboutus">
                <span aria-hidden="true"></span> About Us
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="events">
                <span aria-hidden="true"></span> Events & News
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="contactus">
                <span aria-hidden="true"></span> Contact Us
            </NavLink>
        </li>
        <AuthorizeView>
        <Authorized>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="postlist">
                    <span aria-hidden="true"></span> Heavenly Ideas
                </NavLink>
            </li>
        </Authorized>
        </AuthorizeView>
    </ul>
</div>

    
        
   
        @code {
            private bool collapseNavMenu = true;

            private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

            private void ToggleNavMenu()
            {
                collapseNavMenu = !collapseNavMenu;
            }
        }
