  <!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo mr-auto"><a href="/">The Kingdom Age</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
            <ul>

                <li class="active"><a href="/">Home</a></li>
                <li class="drop-down">
                    <a href="#">About</a>
                    <ul>
                        <li><a href="#">Our Pastor</a></li>
                        <li><a href="#">Our Members</a></li>
                        <li><a href="#">Our Beliefs</a></li>
                        <li><a href="#">Our Ministries</a></li>
                    </ul>
                </li>
                <li><a href="#services">Services</a></li>
                <li><a href="/gallery">Sermons</a></li>
                <li><a href="/contactus">Contact us</a></li>
                <AuthorizeView>
                    <Authorized>
                        <li><a href="/postlist">Heavenly Ideas</a></li>
                        <li class="drop-down">
                            <a href="">Profile</a>
                            <ul>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Log-out</a></li>
                            </ul>
                        </li>
                    </Authorized>
                </AuthorizeView>
            </ul>
        </nav><!-- .nav-menu -->
        <AuthorizeView> 
                <NotAuthorized>
                    <a href="#about" class="get-started-btn scrollto"><LoginDisplay /></a>
                </NotAuthorized>
            </AuthorizeView>
    </div>
</header><!-- End Header -->